<div class="hero-unit">
    <h1>欢迎来到 Microblog</h1>
    <p>Microblog 是一个基于Node.js的微博系统。</p>
    <p>
        <a class="btn btn-primary btn-large" href="/login">登录</a>
        <a class="btn btn-large" href="/reg">立即注册</a>
    </p>
</div>
<hr />
<div class="container-fluid">
<div class="row">
    <div class="col-xs-4">
        <h3>秦观 说</h3>
        <p>金风玉露一相逢，便胜却人间无数。</p>
    </div>
    <div class="col-xs-4">
        <h3>MagicConch 说</h3>
        <p>
            You just like a disease to me, 
            and you are the cure.
        </p>
    </div>
    <div class="col-xs-4">
        <h3>某位不愿透露姓名的李先生 说</h3>
        <p>
            我是个废物
            我不配拥有生殖的权利
            我连狗都不如
            我是个贱畜
            我宅死算了
        </p>
    </div>
</div>
</div>