<!DOCTYPE>
<head>
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/admin.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/semantic.min.css">
</head>
<body>
    <form class="ui form" method="post" enctype="mutipart/form/data" action="/publish">
            <div class="field">
            <label>Title</label>
            <input type="text" name="title">
            <label>Tags</label>
            <input type="text" name="tags">
            <label>Content</label>
            <textarea name="content" rows="15"></textarea>
            </div>
            <input type="submit" class="ui secondary button" value="Publish">
    </form>
</body>