<!DOCTYPE>
<head>
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/admin.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/semantic.min.css">
</head>
<body>
    <form >
        <div class="ui form">
            <div class="field">
            <label>Title</label>
            <input type="text">
            <label>Tags</label>
            <input type="text">
            <label>Text</label>
            <textarea></textarea>
            </div>
            <button class="ui secondary button">Publish</button>
        </div>
    </form>
</body>