<!DOCTYPE>
<head>
    <title>Dawning Lee</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
</head>
<body>
    <div id="text-area">
        <div>
            Welcome to
        </div>
        <div>
            Dawning Lee's Blog
        </div>
        <ul>
            <li>essay</li>
            <li>album</li>
            <li>bujo</li>
        </ul>
    </div>
</body>
